apiVersion: v1
kind: AuthProxy
metadata:
  name: default
spec:
  listen: ":8787"
  special_prefix: "/_"
  upstreams:
    - source: https://localhost:8787
      target: https://pl.wikipedia.org
  chain:
  - moduleRef:
      kind: Audit
      name: audit
  - moduleRef:
      kind: Session
      name: session
  - moduleRef:
      kind: AuthOIDC
      name: axes
  - moduleRef:
      kind: Enrichment
      name: dummy
  - moduleRef:
      kind: Enrichment
      name: ldap
  - moduleRef:
      kind: Rewriter
      name: url
  - moduleRef:
      kind: Cookie
      name: cookie
  - moduleRef:
      kind: CustomHeaders
      name: cors
---
apiVersion: v1
kind: AuthProxy
metadata:
  name: second
spec:
  listen: ":8989"
  special_prefix: "/_"
  upstreams:
    - source: https://localhost:8989
      target: https://docs.python.org
  chain:
  - moduleRef:
      kind: Audit
      name: audit
  - moduleRef:
      kind: Session
      name: session
  - moduleRef:
      kind: AuthOIDC
      name: axes
  - moduleRef:
      kind: Enrichment
      name: dummy
  - moduleRef:
      kind: Enrichment
      name: ldap
  - moduleRef:
      kind: Rewriter
      name: url
  - moduleRef:
      kind: Cookie
      name: cookie
  - moduleRef:
      kind: CustomHeaders
      name: cors
---
apiVersion: v1
kind: Session
metadata:
  name: session
spec:
  cookie_name: axproxy_session
  cookie_path: "/"
  cookie_same_site: Lax
  max_age_seconds: 86400
---
apiVersion: v1
kind: Audit
metadata:
  name: audit
spec:
  request:
    info:
      method: true
      host: true
      path: true
  response:
    info:
      status: true
      duration: true
      target_origin: true
---
apiVersion: v1
kind: Cookie
metadata:
  name: cookie
---
apiVersion: v1
kind: CustomHeaders
metadata:
  name: cors
spec:
  response:
    - op: set
      header: Fake-Access-Control-Allow-Origin
      value: "*"
---
apiVersion: v1
kind: Rewriter
metadata:
  name: url
spec:
  rewrite:
    "https://pl.wikipedia.org": "https://localhost:8787"
    "https://docs.python.org": "https://localhost:8989"
  headers: true
  body: true
---
apiVersion: v1
kind: AuthOIDC
metadata:
  name: axes
spec:
  session_principal_key: oidc_principal
  scope: openid email profile
  client_id: ACME
  client_secret: acme-secret
  jwks_url: http://auth-server:8888/.well-known/jwks.json
  authorize_url: http://localhost:8888/authorize
  token_url: http://auth-server:8888/token
---
apiVersion: v1
kind: Enrichment
metadata:
  name: dummy
spec:
  sources:
    - name: dummy
      type: dummy
  lookups:
    - name: email
      source: dummy
      inputs:
        "email": ${session.oidc_claims.preferred_username}
      outputs:
        - "email"
      mappings:
        "session.dummy_email": ${inputs.email}
---
apiVersion: v1
kind: Enrichment
metadata:
  name: ldap
spec:
  sources:
    - name: ldap
      type: ldap
      ldap:
        addr: "ldap://samba-ad:389"
        bind_dn: "Administrator@EXAMPLE.LOCAL"
        bind_password: "Passw0rd!"
        base_dn: "CN=Users,DC=example,DC=local"
        timeout: "10s"
  lookups:
    - name: sAMAccountName
      source: ldap
      inputs:
        "employeeNumber": ${session.oidc_claims.sub}
      outputs:
        - "sAMAccountName"
      mappings:
        "session.sAMAccountName": ${sAMAccountName}