apiVersion: v1
kind: AuthProxy
metadata:
  name: default
spec:
  listen: ":8787"
  special_prefix: "/_"
  upstreams:
    - source: http://localhost:8787
      target: https://pl.wikipedia.org
  chain:
  - moduleRef:
      kind: Audit
      name: audit
  - moduleRef:
      kind: Session
      name: session
  - moduleRef:
      kind: Rewriter
      name: url
  - moduleRef:
      kind: Cookie
      name: cookie
  - moduleRef:
      kind: CustomHeaders
      name: cors
---
apiVersion: v1
kind: AuthProxy
metadata:
  name: second
spec:
  listen: ":8989"
  special_prefix: "/_"
  upstreams:
    - source: http://localhost:8989
      target: https://docs.python.org
  chain:
  - moduleRef:
      kind: Audit
      name: audit
  - moduleRef:
      kind: Session
      name: session
  - moduleRef:
      kind: Rewriter
      name: url
  - moduleRef:
      kind: Cookie
      name: cookie
  - moduleRef:
      kind: CustomHeaders
      name: cors
---
apiVersion: v1
kind: Session
metadata:
  name: session
spec:
  cookie_name: axproxy_session
  cookie_path: "/"
  cookie_same_site: Lax
  max_age_seconds: 86400
---
apiVersion: v1
kind: Audit
metadata:
  name: audit
spec: {}
---
apiVersion: v1
kind: Cookie
metadata:
  name: cookie
---
apiVersion: v1
kind: CustomHeaders
metadata:
  name: cors
spec:
  response:
    - op: set
      header: Fake-Access-Control-Allow-Origin
      value: "*"
---
apiVersion: v1
kind: Rewriter
metadata:
  name: url
spec:
  rewrite:
    "https://pl.wikipedia.org": "http://localhost:8787"
    "https://docs.python.org": "http://localhost:8989"
  headers: true
  body: true
